<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traditional Games</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="banner">
        <header>
            <div class="navbar">
                <div class="judul">
                    <h1>LOGO</h1>
                </div>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">WORK</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">ABOUT ME</a></li>
                </ul>
                <ul>
                    <li><a href="#">sign up</a></li>
                    <li><a href="/login">login</a></li>
                </ul>
            </div>
        </header>
        
        <div class="content">
            <h1>PLAY TRADITIONAL GAME</h1>
            <P>Experience new traditional game play</P>
            <div>
                <a href="/games">
                    <button class="button">
                        PLAY NOW
                    </button>
                </a>
            </div>
        </div>
        <div class="container">
            <h3>the story</h3>
            <svg height="210" width="500">
                <polygon points="0,0 10,10 20,0" 
                style="fill:rgba(0, 0, 0, 0);stroke:rgb(255, 255, 255);stroke: width 3;" />
            </svg>
        </div>
    </div>    <!-- page 2-->
    <section class="bannerSecond">
        <div class="gallery-container">
            <h3 id="item-1">What's so special?</h3>
            <h1 id="item-2">The Games</h1>
            <div class="panahKiri">
                <svg height="210" width="500">
                    <polygon points="2,17 17,32 17,2"
                    style="fill:transparent;stroke:rgb(255, 255, 255);stroke-width:3" />
                </svg>
        </div>
        <div id="image-container">
            <img src="/images/rockpaperstrategy-1600.jpg" alt="">
        </div>
        <div class="panahKanan">
            <svg height="210" width="500">
                <polygon points="2,2 2,32 17,17" 
                style="fill:transparent;stroke:rgb(255, 255, 255) ;stroke-width:3" />
            </svg>
        </div>
    </section>

    <!-- page 3-->
    <section class="bannerThird">
        <div class="judul">
            <h4>What's so special?</h4>
            <h1>FEATURES</h1>
        </div>
        <div class="judulPertama">
            <svg height="30" width="100">
                <circle cx="14" cy="14" r="10" stroke="white" 
                stroke-width="1" fill="white" /> 
            </svg> 
            <h2>TRADITIONAL GAMES</h2>
            <p>If you miss your childhood, we provide <br> 
                many traditional games here</p>
        </div>
        <div class="judulKetiga">
            <svg height="30" width="100">
                <circle cx="14" cy="14" r="10" stroke="white" 
                stroke-width="1" fill="transparent" /> 
            </svg>
            <h2>GAME SUITE</h2>
        </div>
        <div class="judulKeempat">
            <svg height="30" width="100">
                <circle cx="14" cy="14" r="10" stroke="white" 
                stroke-width="1" fill="transparent" /> 
            </svg>
            <h2>TBD</h2>
        </div>
        <div class="line">
            <svg height="141" width="50">
                <line x1="0" y1="0" x2="0" y2="141" 
                style="stroke:rgb(255, 255, 255);stroke-width:3"/> 
            </svg>
        </div>
    </section>

    <!-- page 4-->
    <section class="bannerFourth"> 
        <p>Can My Computer Run This Game?</p>
        <div class="systemReq-judul">
            <h1>SYSTEM <BR>REQUIREMENT</BR></h1>
        </div>
        <div class="table-req">
            <div class="req-os">
                <h2>OS :</h2>
                <p>Windows 7 64-bit only <br>(No OSX support at this time)</p>
            </div>
            <div class="req-processor">
                <h2>PROCESSOR :</h2>
                <p>Inter Core @ Duo 2.4 GHZ or <br>AMD Athlon X2 @ 2.8 GHZ</p>
            </div>
            <div class="memory">
                <h2>MEMORY :</h2>
                <p>4 GB RAM</p>
            </div>
            <div class="storage">
                <h2>STORAGE</h2>
                <p>8 GB available space</p>
            </div>
            <div class="graphics">
                <h2>GRAPHICS</h2>
                <p>NVIDIA GeForce GTX 660 2GB or <br>AMD Radeon HD 7850 2B DirectX11 (shader model 5)</p>
            </div>
        </div>
    </section>

    <!--page 5 -->
    <section class="bannerFifth">
        <div class="top-score">
            <h2>TOP SCORES</h2>
            <p>This top score from various games provided <br>
            on this platform</p>
            <a href="/seemore">
                <button class="button">
                    See More
                </button>
            </a>
        </div>
        <div class="Evan">
            <svg height="120" width="120">
                <circle cx="60" cy="60" r="30" stroke="white" 
                stroke-width="1" fill="red" /> 
            </svg>
            <h2>Evan Lathi</h2>
            <h3>PC Gamer</h3>
            <p>"One of my game highlight of the year."</p>
            <h5>June 18, 2021</h5>
        </div>

        <div class="Jada">
            <svg height="120" width="120">
                <circle cx="60" cy="60" r="30" stroke="white" 
                stroke-width="1" fill="red" /> 
            </svg>
            <h2>Jada Griffin</h2>
            <h3>Nerdreactor</h3>
            <p>"The next big thing in the world of streaming <br>and survival games</p>
            <h5>June 10, 2021</h5>
        </div>
    </section>

    <!-- page 6-->
    <section class="bannerSixth">
        <div class="newsContainer">
            <div class="sub-head">
                <h3>Want to stay in <br>touch?</h3>
                <h1>NEWSLETTER <br>SUBSCRIBE</h1>
                <p>In order to start receiving our news, all you have to do is enter your email <br> address. 
                   Everything else will be taken care of by us. We will send you emails <br> containing information about game. We don’t spam.
                </p>
            </div>
            <div class="kotak">
                <div class="email">
                    <h3>Your email address</h3>
                    <p>youremail@binar.co.id</p>
                </div>
            </div>
            <a href="/subscribe">
                <button class="button">
                    Subscribe
                </button>
            </a>
        </div>
    </section>
    <script src="/index.js"></script>
</body>
</html>